$sidebar-brown: #2a2424;
$default-text-color: #FFF;
$background-color: #f9f9f9;
$header-background: #FFF;

$sidebar-title-color: rgba(0,0,0,.24);
$sidebar-header: rgba(255, 255, 255, .24);
$card-border: rgba(0, 0, 0, 0.10);
$card-subtitle: #888383;
$card-background: #FFF;

$link-image-active-color: #e53935;
$link-text-active-color: #FFF;

$power-on-color: #90e342;
$power-off-color: #c20808;
