@import '../../../styles/colors';

.dashboard {
    height: 100%;
    width: 100%;
}

.deviceCount {
    max-width: 300px;
    margin: 20px;
}

.deviceCountContent {
    h1 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    small {
        color: $card-subtitle;
        font-size: 80%;
        font-weight: 400;
    }
}
