<div class="settings-content">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 col-xl-2">
            {{> common/tile
                    title="Uptime"
                    tileId="uptime"
            }}
        </div>
    </div>
</div>
