@import 'src/styles/colors';
@import 'src/styles/sizes';

.app {

}

.mainContent,
.routerContent {
  height: calc(100% - 44px);
  width: 100%;
  background: $background-color;
}

.routerContent {
  margin-top: 20px;
}

.contentRight {
  height: 100%;
  width: 100%;
}




