@import 'apps/client/src/app/styles/colors';
@import 'apps/client/src/app/styles/sizes';

.header {
    height: $header-height;
    width: 100%;
    background: $header-background;
    border-bottom: 1px solid $card-border;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    right: 0;
    z-index: 2;
}
