@import 'src/styles/colors';
@import 'src/styles/sizes';

.sidebar {
  height: 100%;
  max-width: 220px;
  background: $sidebar-brown;
  color: $default-text-color;
  padding-bottom: 40px;
}

.navbar {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding: 5px 40px 0 20px;
}
.header {
  padding: 5px 10px 0 10px;
  text-transform: uppercase;
}
.sidebarHeader {
  @extend .header;
  color: $sidebar-header;
}

.sidebarTitle {
  background: $sidebar-title-color;
  padding: 15px 20px;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle {
  padding-left: 15px;
}

.mainNavigation {
   margin: 40px 0;
}

.deviceNavigation {

}

.userProfile {
  margin-bottom: 40px;
}
