@import 'apps/client/src/app/styles/colors';
@import 'apps/client/src/app/styles/sizes';

.sidebar {
    height: 100%;
    max-width: 220px;
    background: $sidebar-brown;
    color: $default-text-color;
    padding-bottom: 44px;

    @media (max-width: 850px) {
        max-width: unset;
        max-height: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.navbar {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding: 5px 40px 0 20px;

    @media (max-width: 850px) {
        display: flex;
        padding: 10px 40px;
    }
}
.header {
    padding: 5px 10px 0 10px;
    text-transform: uppercase;
}
.sidebarHeader {
    @extend .header;
    color: $sidebar-header;

    @media (max-width: 850px) {
        display: none;
    }
}

.sidebarTitle {
    background: $sidebar-title-color;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);

    @media (max-width: 850px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: $sidebar-brown;
        z-index: 10;
    }
}

.title {
    font-weight: bold;
    text-transform: uppercase;
}

.subtitle {
    padding-left: 15px;
}

.mainNavigation {
    margin: 40px 0;
    @media (max-width: 850px) {
        margin-top: 10px;
        li {
            margin: 0 25px;
        }
    }
}

.deviceNavigation {
    @media (max-width: 850px) {
        display: none;
    }
}

.userProfile {
    margin-bottom: 40px;
}

.mainNavigation,
.deviceNavigation {
    .mainButton {
        display: none;
        @media (max-width: 850px) {
            display: block;
        }
    }
}
