<div class="settings-content">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            {{> common/button
                    title="Device discovery"
                    tileId="discovery"
                    label="Start Discovery"
            }}
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            {{> common/currencyInput
                    title="Energy costs per kWh"
                    tileId="energy-costs"
                    placeholder="0.3"
                    class="energy-cost-input"
            }}
        </div>
    </div>
</div>
