<div class="x_panel small tile">
    <div class="x_title">
        <h2>
            <strong>
                {{#if title}}
                    {{title}}
                {{else}}
                    TITLE MISSING
                {{/if}}
            </strong>
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content small">
        <h1><span id={{tileId}}>-</span> <small>{{unit}}</small></h1>
    </div>
</div>