<div class="x_panel small tile">
    <div class="x_title">
        <h2>
            <strong>
                {{#if title}}
                    {{title}}
                {{else}}
                    TITLE MISSING
                {{/if}}
            </strong>
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content small">
        <button type="button" class="btn btn-light">{{label}}</button>
    </div>
</div>

