@import 'src/styles/colors';

.card {
  margin-bottom: 1.25rem;
  border: 1px solid $card-border;
  box-shadow: 0 2px 3px rgba(0,0,0,.15);
  border-radius: 5px;
  padding: 40px 20px;
  background: $card-background;
}


.powerCard {
  margin-left: 20px;
  min-width: 300px;

  h1 {
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 5px;
    align-self: center;
  }

  small {
    padding-left: 5px;
    text-transform: uppercase;
  }
}
