@import '../styles/colors';
@import '../styles/sizes';

.app {
}

.mainContent,
.routerContent {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: $background-color;
}
@media (max-width: 850px) {
    .mainContent {
        display: flex;
        flex-direction: column-reverse;
    }
}

.routerContent {
    margin-top: 20px;
    overflow-y: visible;

    @media (max-width: 850px) {
        margin-top: 70px;
    }
}

.contentRight {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
