@import '../styles/colors';
@import '../styles/sizes';

.app {
}

.mainContent,
.routerContent {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: $background-color;
}

.routerContent {
    margin-top: 20px;
    overflow-y: visible;
}

.contentRight {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
